html, body{
    height: 100%; background-color: #87cefa;
    color:#FFFFFF;
}

#section0{
    background: #151212 url('../imgs/bghome.png') no-repeat center center;
    background-size: cover;
    /*background: #151212;*/
}

.section-intro{
    font-family: 'GOTHAM-LIGHT';
    font-size: 30px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;

}

/*---------- FIRST PAGE ----------*/
@media only screen and (max-width:499px) {
    #section0{
        background: url("../imgs/bg-home-mobile.png") no-repeat center center;
        background-size: cover;
    }
}

/**------ GRID SETTINGS-------**/
/* ---- grid ---- */

.grid {
    background: #DDD;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

/*------- FOOTER --------*/
.section-footer{
    display: none;
    text-align: center;
    background-color: #151212;
    color: #FFFFFF;
}
